.css_iddetalle_movilizacion_det_label {text-align: right;vertical-align: middle;}
.css_iddetalle_movilizacion_det_line {height:0px;text-align: right;}
.css_detalle_movilizacion_origen_det_label {text-align: right;vertical-align: middle;}
.css_detalle_movilizacion_origen_det_line {height:0px;text-align: right;}
.css_detalle_movilizacion_destino_det_label {text-align: right;vertical-align: middle;}
.css_detalle_movilizacion_destino_det_line {height:0px;text-align: right;}
.css_detalle_movilizacion_fecha_inicio_det_label {text-align: right;vertical-align: middle;}
.css_detalle_movilizacion_fecha_inicio_det_line {height:0px;text-align: right;}
.css_detalle_movilizacion_fecha_fin_det_label {text-align: right;vertical-align: middle;}
.css_detalle_movilizacion_fecha_fin_det_line {height:0px;text-align: right;}
.css_id_movilizacion_det_label {text-align: right;vertical-align: middle;}
.css_id_movilizacion_det_line {height:0px;text-align: right;}
.css_detalle_movilizacion_distancia_det_label {text-align: right;vertical-align: middle;}
.css_detalle_movilizacion_distancia_det_line {height:0px;text-align: right;}
