.css_usuario_cedula_label { }
.css_usuario_cedula_line {text-align:left;}
.css_usuario_cedula_obj {text-align:left;}
.css_usuario_nombres_label { }
.css_usuario_nombres_line { }
.css_usuario_nombres_obj { }
.css_usuario_apellidos_label { }
.css_usuario_apellidos_line { }
.css_usuario_apellidos_obj { }
.css_usuario_correo_label { }
.css_usuario_correo_line { }
.css_usuario_correo_obj { }
.css_usuario_dependencia_label { }
.css_usuario_dependencia_line {width:100px;}
.css_usuario_dependencia_obj { }
.css_usuario_cargo_label { }
.css_usuario_cargo_line {width:100px;}
.css_usuario_cargo_obj { }
.css_usuario_estado_label { }
.css_usuario_estado_line { }
.css_usuario_estado_obj { }
