.css_idmantenimiento__label {text-align:;}
.css_idmantenimiento__line {text-align:left;}
.css_idmantenimiento__obj {text-align:left;}
.css_mantenimiento_fecha__label { }
.css_mantenimiento_fecha__line { }
.css_mantenimiento_fecha__obj { }
.css_mantenimiento_tipo__label { }
.css_mantenimiento_tipo__line { }
.css_mantenimiento_tipo__obj { }
.css_mantenimiento_kilometraje__label { }
.css_mantenimiento_kilometraje__line { }
.css_mantenimiento_kilometraje__obj { }
.css_mantenimiento_observacion__label { }
.css_mantenimiento_observacion__line { }
.css_mantenimiento_observacion__obj { }
.css_idvehiculo__label { }
.css_idvehiculo__line {text-align:left;}
.css_idvehiculo__obj {text-align:left;}
.css_idusuario__label { }
.css_idusuario__line {text-align:left;}
.css_idusuario__obj {text-align:left;}
.css_idtipo_mantenimiento__label { }
.css_idtipo_mantenimiento__line { }
.css_idtipo_mantenimiento__obj { }
