.css_idasignar_vehiculo_label { }
.css_idasignar_vehiculo_line {text-align:left;}
.css_idasignar_vehiculo_obj {text-align:left;}
.css_asignar_vehiculo_fecha_label { }
.css_asignar_vehiculo_fecha_line { }
.css_asignar_vehiculo_fecha_obj { }
.css_usuario_idusuario_label { }
.css_usuario_idusuario_line {text-align:left;}
.css_usuario_idusuario_obj {text-align:left;}
