.css_iddetalle_movilizacion__label {text-align:;}
.css_iddetalle_movilizacion__line {text-align:left;}
.css_iddetalle_movilizacion__obj {text-align:left;}
.css_detalle_movilizacion_origen__label { }
.css_detalle_movilizacion_origen__line { }
.css_detalle_movilizacion_origen__obj { }
.css_detalle_movilizacion_destino__label { }
.css_detalle_movilizacion_destino__line { }
.css_detalle_movilizacion_destino__obj { }
.css_detalle_movilizacion_fecha_inicio__label { }
.css_detalle_movilizacion_fecha_inicio__line { }
.css_detalle_movilizacion_fecha_inicio__obj { }
.css_detalle_movilizacion_fecha_fin__label { }
.css_detalle_movilizacion_fecha_fin__line { }
.css_detalle_movilizacion_fecha_fin__obj { }
.css_detalle_movilizacion_distancia__label { }
.css_detalle_movilizacion_distancia__line {text-align:left;}
.css_detalle_movilizacion_distancia__obj {text-align:left;}
